body {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
section {
  margin-bottom: 150px;
}
/* Re-usable class */
.link-button {
  text-decoration: none;
  /* background-image: linear-gradient(#ff0000d3, #cf6c5bf3); */
  background-color: rgba(241, 94, 68, 0.877);
  padding: 11px 25px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  border-radius: 2px;
}
.flex-content {
  display: flex;
}
.donate-heading {
  margin-bottom: 50px;
  text-align: center;
}
.donate-heading h1 {
  font-size: 40px;
}
.donate-heading p {
  font-size: 20px;
  margin-left: 30%;
  margin-right: 30%;
}
/* header-section */
.hero-image {
  background-image: url(./images/donation6.jpg);
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
}
.hero-text {
  text-align: center;
  padding: 15% 25%;
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  color: white;
}
.hero-text h1 {
  font-size: 55px;
  margin: 10px;
}
.hero-text p {
  font-size: 20px;
  margin-bottom: 30px;
}

/* donate-today */
.donate-amount {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}
.donate-today-Donation {
  margin-bottom: 50px;
}
.donation {
  height: 60px;
  width: 100px;
  margin-left: 20px;
  background-color: #80808033;
  border-radius: 15px;
  color: black;
  font-weight: 800;
  font-size: 25px;
  text-align: center;
  padding: 35px 25px 0px 10px;
}

#donate-unique {
  border: 3px solid tomato;
  background-color: #ff63472d;
}

.donate-today input {
  width: 100%;
  border: none;
  padding: 15px;
  border-bottom: 1px solid gray;
  margin-bottom: 35px;
}

/* our-donate-plan */
.all-items {
  margin-right: 10%;
  margin-left: 10%;
}
.items {
  height: 250px;
  width: 280px;
  margin-left: 20px;
  padding: 20px;
  border-radius: 7px;
}
.items img {
  margin-top: 20px;
}
#food {
  background-color: #0000ff69;
}
#shelter {
  background-color: #31ce9f6b;
}
#education {
  background-color: rgba(255, 0, 0, 0.247);
}

/* get-my-updates */
.get-my-updates input {
  padding: 15px;
  width: 250px;
  border: none;
  background-color: #80808070;
}
.subscribe-center {
  margin-left: 20%;
  margin-right: 35%;
  text-align: center;
}
.subscribe-background {
  background-color: rgba(255, 99, 71, 0.137);
  margin-left: 280px;
  margin-right: 250px;
  padding: 80px;
}
/* footer */
footer {
  height: 150px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}
footer h1 {
  color: #ff6347b6;
}
